{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block title %}
<title>About - Sujin Lee</title>
{% endblock %}

{% block ogtags %}
<meta property="og:type" content="Sujin Lee:Post" />
<meta property="og:title" content="About - Sujin Lee" />
<meta property="og:description" content="Creative Developer" />
<meta property="og:image" content="http://www.sujinlee.me/image/background/profile-about.png" />
<meta property="og:url" content="http://www.sujinlee.me/project/" />

{% endblock %}
{% block content %}
<header class="page_title">
  <h1> PROJECT</h1>
</header>

<div id="main_content">
  <div id="post_wrap_v2" class="post_body">
    <p class="quote">
      Study the science of art. Study the art of science.
      Develop your senses-learn how to see.<br>
      Realize that everything connects you to everything else. - Leonardo da Vinci</i><br>
    </p>
    <p>Hello, World! I am Sujin Lee from Seoul, Korea.<br>I write code. I play music.</p>
    <p>After completing my undergraduate studies in Music Composition & Education, I have pursued my passions of music and programming with equal vigor, aiming to make creative work that inspires. I want to use programming to unlock the secret of music masterpiece in the nearest future. I had learned classical music since I was young, but I have been born again as python and web developer.</p>
    <p>I am currently working in CONNECT foundation, which was established by Naver Corp. to provide software engineering education to young Koreans.</p>
    <p>While I enjoy all aspects of my job, I run Django Girl Seoul Community with friends to encourage women to jump into technology lately and we manage workshops about programming in Python and Django.</p>
    <p>If you want to say hello, I'm mostly on <a href="https://twitter.com/sujinleeme">twitter</a> or <a href="https://www.facebook.com/sujiniworld">facebook</a>. I always love hearing about you and new projects.</p>
  </div>
</div>
<header class="page_title">
  <h1>what i use</h1>
</header>
<div id="main_content">
  <div id="post_wrap_v2" class="post_body">
    <ul>
      <li><span>python3</span></li>
      <li><span>django</span></li>
      <li><span>html5</span></li>
      <li><span>css3</span></li>
      <li><span>javascript</span></li>
      <li><span>jquery</span></li>
      <li><span>gulp</span></li>
    </ul>
  </div>
</div>
{% endblock content %}