{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<style>
  body {
  }
</style>

<section class="page-name">
    <h1> { ABOUT }</h1>
    <p> Taste my flavors</p>
</section>

  <main class="mdl-grid">

      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="post-card mdl-cell mdl-cell--8-col">
    <p>Hi, My Name is SUJIN LEE
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam elit vel fermentum volutpat. Sed convallis nulla nec velit luctus gravida vel id nisl. Nulla molestie, diam vel vehicula ultrices, metus ipsum porta odio, id molestie tellus est sed massa. Mauris congue nisl dui, aliquam hendrerit neque facilisis vulputate. Nam ullamcorper metus ac ex tincidunt cursus. Morbi tempor odio ut urna congue cursus. Fusce ac accumsan mi. Nulla ultrices luctus varius. Pellentesque molestie libero eu fermentum rutrum.

  Nunc id rutrum libero, non feugiat odio. Fusce hendrerit libero nibh, a cursus odio maximus nec. Nullam leo sem, convallis sit amet egestas non, pulvinar sit amet ipsum. Etiam interdum tempor enim, a varius neque imperdiet quis. In in odio urna. Etiam congue, nisi gravida viverra consequat, dui ipsum molestie nulla, quis maximus massa orci sed augue. Donec hendrerit rhoncus augue quis tristique.
</p>
    <img src="http://www.iconsbyhour.co.uk/images/2pm/0216_name.svg"></img>
    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="post-card mdl-cell mdl-cell--4-col">
      <div class="instagram"></div>
</div>

<div class="post-card mdl-cell mdl-cell--4-col">
  <p>Hi, My Name is SUJIN LEE
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam elit vel fermentum volutpat. Sed convallis nulla nec velit luctus gravida vel id nisl. Nulla molestie, diam vel vehicula ultrices, metus ipsum porta odio, id molestie tellus est sed massa. Mauris congue nisl dui, aliquam hendrerit neque facilisis vulputate. Nam ullamcorper metus ac ex tincidunt cursus. Morbi tempor odio ut urna congue cursus. Fusce ac accumsan mi. Nulla ultrices luctus varius. Pellentesque molestie libero eu fermentum rutrum.

Nunc id rutrum libero, non feugiat odio. Fusce hendrerit libero nibh, a cursus odio maximus nec. Nullam leo sem, convallis sit amet egestas non, pulvinar sit amet ipsum. Etiam interdum tempor enim, a varius neque imperdiet quis. In in odio urna. Etiam congue, nisi gravida viverra consequat, dui ipsum molestie nulla, quis maximus massa orci sed augue. Donec hendrerit rhoncus augue quis tristique.
</p>
<div>

{% endblock content %}
