{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<style>
  body {background: #6200ea;}
  .nav-wrap {background: none;}
  .title a {color: #fff; opacity: 0.9;}
  .Menu-Bar {background: #fff;}
  .Offscreen {background: rgb(247, 249, 251);}
  .Nav-List a {color: #6200ea;}
  .socials a {color: #fff; opacity: 0.6;}
  .socials a:hover {opacity: 0.3;}
  .copyright {color: #fff; opacity: 0.6;}
  .title {display: none;}
  .footer {display: none;}
  .large-header {display: none;}
  .index-title {display: none;}
</style>

<script>
$('.title').fadeIn(500,function() {
    $('.index-title').fadeIn(1000,function() {
      $('.large-header').fadeIn(1200)
      $('.footer').fadeIn(2000);
    });
});
</script>


<!--img id="bg" src="{% static 'image/background/profile-index.png' %}" align="right" onload="imgLoaded(this)"-->
<div id="large-header" class="large-header">
  <canvas id="demo-canvas">
  </canvas>
</div>
<div class="index-title">
  <a href="/about" class="index-title_style rippleria-dark" rippleria>
    <h1>Sujin Lee</h1>
    <h2>{ the connectivist }</h2>
    <img class="svg index-icon" src="{% static 'image/svg-icons/code.svg' %}">
    <img class="svg index-icon" src="{% static 'image/svg-icons/close.svg' %}">
    <img class="svg index-icon" src="{% static 'image/svg-icons/image.svg' %}">
    <img class="svg index-icon" src="{% static 'image/svg-icons/close.svg' %}">
    <img class="svg index-icon" src="{% static 'image/svg-icons/music.svg' %}">
  </a>
</div>
<script src="/static/js/index.js"></script>
{% endblock content %}
