{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block title %}
<title>Blog - Sujin Lee</title>
{% endblock %}

{% block ogtags %}
<meta property="og:type" content="Sujin Lee:Post" />
<meta property="og:title" content="Blog - Sujin Lee" />
<meta property="og:description" content="Creative Developer" />
<meta property="og:image" content="http://www.sujinlee.me/image/background/profile-about.png" />
<meta property="og:url" content="http://www.sujinlee.me/project/" />
{% endblock %}

{% block content %}
<header class="page_title">
  <h1>BLOG</h1>
</header>
<div>
  {% if posts %}
  <ul id="lst_wrap_blog">
    {% for post in posts %}
      <li class="blog_ele" onclick="location.href='{% url 'post_detail' slug=post.slug %}';">
        <header>
          <span class="date">{{ post.published_date }}</span>
          <h3>{{ post.summary|truncatechars:60 }}</h3>
          <div class="detail">
            <h2>{{ post.title }}</h2>
            <button class="btn_read material-icons">arrow_forward</button>
          </div>
          <footer>
          <span class="icon-heart"></span>
          <a>{{ post.likes }}</a>
        </header>
        <picture><img src="{{ post.image.url }}"></picture>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <div id="main_content">
    <h3>No Post in here. Write new post!</h3>
  </div>
  {% endif %}
</div>
{% endblock content %}