{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load django_markdown %}
{% block title %}


<title>{{ post.title }} - Sujin Lee</title>
{% endblock %}
{% block ogtags %}
<meta property="og:type" content="Sujin Lee:Post" />
<meta property="og:title" content="New Post" />
<meta property="og:description" content="{{ post.summary|truncatechars:230 }}" />
<meta property="og:image" content="http://www.sujinlee.me/{{ post.image.url }}" />
<meta property="og:url" content="http://www.sujinlee.me/blog/{{post.slug }}/" />
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'dist/css/form.css' %}">
{% endblock %}

{% block content %}
<header class="page_title">
  <button class="btn_back icon-notes"></button>  
  <h1>New blog</h1>
</header>

<div class="form_wrap">
  <form method="post" enctype="multipart/form-data" class="blog-form">
    {% csrf_token %}
    <div class="select-box">
    <label for="" class="label"><span class="label-desc icon-folder"></span> </label>
      {{ form.category }}
      <span class="label-desc icon-picture"></span>{{ form.image }}
        </div>

     {{ form.title }}
     {{ form.summary }}
     {{ form.body }}
     
     {{ form.tag }}
     {{ form.slug }}
       </table>
        <input id="submit" type="submit" class="btn-material"></input>
    </form>

</div>

  </div>

<div class="form_view">
  </div>
  <button class="btn_gototop material-icons">keyboard_arrow_up</button>
{% endblock %}

{% block jsblock %}
<script src="{% static 'src/js/highlight.pack.js' %}"></script>
<script src="{% static 'src/js/post_detail.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
