{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load django_markdown %}
{% block title %}
<title>{{ post.title }}</title>
{% endblock %}
{% block ogtags %}
<meta property="og:type" content="Sujin Lee:Post" />
<meta property="og:title" content="{{ post.title }}" />
<meta property="og:description" content="{{ post.summary|truncatechars:230 }}" />
<meta property="og:image"content="http://sujinlee.me/{{ post.image.url }}" />
<meta property="og:url" content="http://sujinlee.me/blog/{{post.slug }}/" />
{% endblock %}
{% block content %}
<section class="page-name">
  <h1> { BLOG }</h1>
  <p> Learning, Experiences, Thoughts </p>
</section>
<article class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
  <div class="post-card mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
  <div class="post-card_main-image">
    <img itemprop="image" src="{{ post.image.url }}" >
  </div>
  <div class="post-card_category" style="background: {{ post.category.color }}">
    {{ post.category.title }}
  </div>
  <div class="post-card_body">
    <div class="post-card_btn" style="background: {{ post.category.color }}">
      <img class="post-category-icon" src="{% static post.category.image_url %}" onload="imgLoaded(this)">
    </div>
    <h1 itemprop="name">{{ post.title }}</h1>
    <div class="post-card_date">
      {% if post.published_date %}
      <i class="fa fa-clock-o"></i>{{ post.published_date }}
      {% endif %}
    </div>
    <div itemprop="description" class="markdown-body">
      {{ post.body|markdown }}
    </div>
    <div class="heart-particle-box" align="center">
      <button class="likes post-likes" id="heart-icon" data-post-id="{{post.id}}">
      {% if liked %}
      <i class="heart-shaped fa fa-heart" style="display: line-block"></i>
      <i class="heart-shaped fa fa-heart-o" style="display: none"></i>
      {% else %}
      <i class="heart-shaped fa fa-heart" style="display: none"></i>
      <i class="heart-shaped fa fa-heart-o" style="display: line-block"></i>
      {% endif %}
      </button>
      <div class="like_count_blog" id="heart-counter">{{ post.likes }}</div>
    </div>
    <footer class="post-footer">
      <span class="post-comment">
      <i class="fa fa-comment-o"></i>
      <a href="{% url 'post_detail' slug=post.slug %}#disqus_thread"></a></span>
      <div class="post-share">
        <div class="more-button">
          <i class="fa fa-share-alt"></i>
          <div class="container">
            <a class="facebook share-btn" href="#"
              target="_blank" onclick="fbshare()">
            <i class="fa fa-facebook"></i></a>
            <a class="twitter share-btn"
              href="http://twitter.com/share?url=http://sujinlee.me/blog/{{ post.slug }}
              &amp;text={{ post.title }} http://sujinlee.me/blog/{{ post.slug }} via @sujinleeme &amp;hashtags={{ post.category.title }}"
              target="_blank" title="Twitter Share">
            <i class="fa fa-twitter"></i></a>
            <a class="google_plus share-btn"
              href="https://plus.google.com/share?url=http://sujinlee.me/blog/{{ post.slug }}"
              target="_blank" title="Google Plus Share">
            <i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</article>
<div class="comment-entry mdl-grid">
  <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
  <div class="post-card mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
    <div class="disqus" id="disqus_thread"></div>
  </div>
</div>
<nav class="pagination_nav mdl-grid">
  <a href="{% url 'post_detail' slug=previous.slug %}">
    <div class="pagination_col mdl-cell mdl-cell--6-col"
      style="background: {{post.category.color}}" rippleria>
      {% if previous %}
      <i class="fa fa-angle-left fa-2x"></i>
      <span class="previous">Previous</span>
      <span class="title-left">{{ previous.title|truncatechars:46 }}</span>
  </a>
  {% endif %}
  </div>
  <div class="pagination_col mdl-cell mdl-cell--6-col"
    style="background: {{post.category.color}}" rippleria>
    {% if next %}
    <i class="fa fa-angle-right fa-2x"></i>
    <a href="{% url 'post_detail' slug=next.slug %}">
    <span class="next">Next</span>
    <span class="title-right">{{ next.title|truncatechars:46 }}</span></a>
    {% endif %}
  </div>
</nav>
<div class="go-top"><i class="fa fa-angle-up"></i></div>
<script>
  // facebook share
  function fbshare() {
    FB.ui({
        method: 'share_open_graph',
        action_type: 'og.shares',
        action_properties: JSON.stringify({
          object: {
            'og:url': 'http: //sujinlee.me/blog/{{ blog.slug }}',
            'og:title': '{{ blog.title }}',
            'og:description': '{{ blog.summary|truncatechars:230 }}',
            'og:image': 'http://www.sujinlee.me/{{ blog.image.url }}/',
            'og:type': 'Sujin Lee:blog',
          }
        })
      },

      function(response) {
        if (response && !response.error_message) {
          // then get post content
          alert('successfully posted');
        } else {
          alert('Something went error.');
        }
      });
</script>
{% endblock %}
