{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}
<title>Project - Sujin Lee</title>
{% endblock %}

{% block ogtags %}
<meta property="og:type" content="Sujin Lee:Post" />
<meta property="og:title" content="Blog - Sujin Lee" />
<meta property="og:description" content="Creative Developer" />
<meta property="og:image" content="http://www.sujinlee.me/image/background/profile-about.png" />
<meta property="og:url" content="http://www.sujinlee.me/project/" />
{% endblock %}

{% block content %}
<header class="page_title">
  <h1> PROJECT</h1>
</header>
<div id="main_content">
  {% if projects %}
  <ul id="lst_project_wrap">
    {% for project in projects %}
    <li class="project_ele" onclick="location.href='{% url 'project_detail' slug=project.slug %}';">
      <img src="{{ project.image.url }}">
      <header>
        <span class="date">{{ project.published_date }}</span>
        <h3>{{ project.summary|truncatechars:30 }}</h3>
        <div class="detail">
          <h2>{{ project.title|truncatechars:48 }}</h2>
          <button class="btn_read material-icons">arrow_forward</button>
        </div>
      </header>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <div id="main_content">
    <h3>No Post in here. Write new post!</h3>
  </div>
  {% endif %}
</div>
{% endblock content %}