{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<section class="page-name">
   <h1>{ PROJECT }</h1>
   <h2> /* Web & Music */ </h2>
</section>
<div class="card-warpper">
<div class="mdl-grid">
   {% for project in projects %}
   {% if forloop.counter0|divisibleby:"2" %}
   <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
   <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
      <figure class="pr-card" style="background: {{project.category.color}}">
         <img class="" src="{{ project.image.url }}" onload="imgLoaded(this)"/>
         <figcaption>
            <img class="svg pr-category-icon" src="{% static project.category.image_url %}">
            <h3>{{ project.category }}</h3>
            <h2>{{ project.title }}</h2>
            <h4>{{ project.published_date|date:"M. Y" }}</h4>
         </figcaption>
         <a href="{% url 'project_detail' slug=project.slug %}" rippleria></a>
      </figure>
   </div>
   {% endif %}
   {% if forloop.last or forloop.counter|divisibleby:"2" %}
   <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
      <figure class="pr-card" style="background: {{project.category.color}}">
         <img class="" src="{{ project.image.url }}" onload="imgLoaded(this)"/>
         <figcaption>
            <img class="svg pr-category-icon" src="{% static project.category.image_url %}">
            <h3>{{ project.category }}</h3>
            <h2>{{ project.title }}</h2>
            <h4>{{ project.published_date|date:"M. Y" }}</h4>
         </figcaption>
         <a href="{% url 'project_detail' slug=project.slug %}" rippleria></a>
      </figure>
   </div>
   <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
   {% endif %}
   {% endfor %}
</div>
{% endblock content %}
