{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load django_markdown %}
{% block title %}
<title>{{ project.title }}</title>
{% endblock %}
{% block ogtags %}
<meta property="og:type" content="Sujin Lee:Project" />
<meta property="og:title" content="{{ project.title }}" />
<meta property="og:description" content="{{ project.summary|truncatechars:230 }}" />
<meta property="og:image" content="http://www.sujinlee.me/{{ project.image.url }}/" />
<meta property="og:url" content="http://sujinlee.me/project/{{ project.slug }}" />
{% endblock %}
{% block content %}
<section class="page-name">
  <h1> { PROJECT }</h1>
  <p> Web, Music </p>
</section>
<article class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
  <div class="post-card mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
  <div class="post-card_main-image">
    <img itemprop="image" src="{{ project.image.url }}" onload="imgLoaded(this)">
  </div>
  <div class="post-card_category" style="background: {{ project.category.color }}">
    {{ project.category.title }}
  </div>
  <div class="post-card_body">
    <div class="post-card_btn" style="background: {{ project.category.color }}">
      <img class="post-category-icon" src="{% static project.category.image_url %}">
    </div>
    <h1 itemprop="name">{{ project.title }}</h1>
    <div class="post-card_date">
      {% if project.published_date %}
      <i class="fa fa-clock-o"></i>{{ project.published_date }}
      {% endif %}
    </div>
    <div itemprop="description" class="markdown-body">
      {{ project.body|markdown }}
    </div>
    <div class="heart-particle-box" align="center">
      <button class="likes project-likes" id="heart-icon" data-project-id="{{project.id}}">
      {% if liked %}
      <i class="heart-shaped fa fa-heart" style="display: line-block"></i>
      <i class="heart-shaped fa fa-heart-o" style="display: none"></i>
      {% else %}
      <i class="heart-shaped fa fa-heart" style="display: none"></i>
      <i class="heart-shaped fa fa-heart-o" style="display: line-block"></i>
      {% endif %}
      </button>
      <div class="like_count_project" id="heart-counter">{{ project.likes }}</div>
    </div>
    <footer class="post-footer">
      <span class="post-comment">
      <i class="fa fa-comment-o"></i>
      <a href="{% url 'project_detail' slug=project.slug %}#disqus_thread"></a></span>
      <div class="post-share">
        <div class="more-button">
          <i class="fa fa-share-alt"></i>
          <div class="container">
            <a class="facebook share-btn customer share"
              href="http://www.facebook.com/share.php?u=http://sujinlee.me/project/{{ project.slug }}"
              target="_blank" onclick="return fbshare()">
            <i class="fa fa-facebook"></i></a>
            <a class="twitter customer share share-btn customer share"
              href="http://twitter.com/share?url=http://sujinlee.me/project/{{ project.slug }}
              &amp;text={{ project.title }} http://sujinlee.me/blog/{{ project.slug }} via @sujinleeme &amp;hashtags={{ project.category.title }}"
              target="_blank" title="Twitter Share">
            <i class="fa fa-twitter"></i></a>
            <a class="google_plus customer share share-btn customer share"
              href="https://plus.google.com/share?url=http://sujinlee.me/project/{{ project.slug }}"
              target="_blank" title="Google Plus Share">
            <i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</article>
<div class="comment-entry mdl-grid">
  <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
  <div class="post-card mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
    <div class="disqus" id="disqus_thread"></div>
  </div>
</div>
<nav class="pagination_nav mdl-grid">
  <a href="{% url 'project_detail' slug=previous.slug %}">
    <div class="pagination_col mdl-cell mdl-cell--6-col"
      style="background: {{ project.category.color }}" rippleria>
      {% if previous %}
      <i class="fa fa-angle-left fa-2x"></i>
      <span class="previous">Previous</span>
      <span class="title-left">{{ previous.title|truncatechars:46 }}</span>
  </a>
  {% endif %}
  </div>
  <div class="pagination_col mdl-cell mdl-cell--6-col"
    style="background: {{ project.category.color }}" rippleria>
    {% if next %}
    <i class="fa fa-angle-right fa-2x"></i>
    <a href="{% url 'project_detail' slug=next.slug %}">
    <span class="next">Next</span>
    <span class="title-right">{{ next.title|truncatechars:46 }}</span></a>
    {% endif %}
  </div>
</nav>
<div class="go-top"><i class="fa fa-angle-up"></i></div>
<script>
  // facebook share
  function fbshare() {
    FB.ui({
        method: 'share_open_graph',
        action_type: 'og.shares',
        action_properties: JSON.stringify({
          object: {
            'og:url': 'http: //sujinlee.me/project/{{ project.slug }}',
            'og:title': '{{ project.title }}',
            'og:description': '{{ project.summary|truncatechars:230 }}',
            'og:image': 'http://www.sujinlee.me/{{ project.image.url }}/',
            'og:type': 'Sujin Lee:Project',
          }
        })
      });
</script>
{% endblock %}
