{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>#마라톤, 같이 달려볼래? 한눈에 보는 2016 마라톤 대회</title>
    <meta name="description" content="마라톤 온라인이 제공하는 2016년간 행사 데이터를 크롤링한 웹페이지입니다.">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="author" content="Sujin Lee">
    <meta property="fb:app_id" content="1081681621896558" />
    <meta property="og:url" content="http://www.sujinlee.me/marathon-event/" />
    <meta property="og:type" content="website" />
    <meta property="article:author" content="https://www.facebook.com/sujiniworld/" />
    <meta property="og:title" content="#마라톤, 같이 달려볼래? 한눈에 보는 2016 마라톤 대회" />
    <meta property="og:description" content="마라톤 온라인이 제공하는 2016년간 행사 데이터를 크롤링한 웹페이지입니다." />
    <meta property="og:image" content="http://www.sujinlee.me/static/image/run_logo.png/" />
    <link rel="logo" type="image/png" href="{% static 'image/run_logo.png' %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css" rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/onepage-scroll.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/myrun.css' %}" rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{% static 'js/jquery.onepage-scroll.js' %}"  type="text/javascript"></script>
    <script src="{% static 'js/myrun.js' %}"  type="text/javascript"></script>
    <script src="{% static 'js/skycons.js' %}" type="text/javascript"></script>
    <script>
      $(document).ready(function(){
         $(".main").onepage_scroll({
           sectionContainer: "section",
           responsiveFallback: 600,
         });
      });
    </script>
  </head>
  <body>
    <!--facebook plugin-->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=1081681621896558";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="onepage-wrapper">
      <div class="main">
        <section class="page1">
          <div class="page_container">
            
            <h1>#마라톤, 같이 달려볼래?</h1>
            <h2>올해 전국에서 {{ count_total_events}}개 대회가 열린대. 도전해볼까?</h2>
            <div class="today">{{ today }}</div>
            <div class="fb-like"
                 data-href="http://www.sujinlee.me/marathon-event/"
                 data-layout="standard" data-action="like" data-size="small"
                 data-show-faces="true" data-share="true">
            </div>
            <img class="main_image" src="{% static 'image/main.svg' %}">
            <span class="scroll-btn">
            <a href="#1">
            <span class="mouse">
            <span>
            </span>
            </span>
            </a>
            </span>
          </div>
        </section>
        <section class="page2">
          <div class="page_container">
            <h3>다가오는 대회 | {{ count_upcoming_events }}개 </h3>
            <div class="tbl-header">
              <table>
                <thead>
                  <tr>
                    <th>일시</th>
                    <th>대회명</th>
                    <th>신청기간</th>
                    <th>레이스</th>
                    <th>장소</th>
                    <th>내용</th>
                    <th>주최</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="tbl-content">
              <table>
                <tbody>
                  {% for event in upcoming_events %}
                  <tr>
                    <td>{{ event.date }}
                        <canvas class="{{ event.weather }} weather_icon" width="30" height="30"></canvas></br>
                        {{ event.temperature }}
                    <td>
                      <p class="city">{{ event.city }}</p>
                      <a href="{{ event.website }}" class="NewTab">{{ event.title }}</a>
                    </td>
                    <td>{{ event.application_period }}</td>
                    <td>{{ event.race }}</td>
                    <td><a href="{{ event.map_url }}" class="NewTab">
                        {{ event.location }}</a></td>
                    <td>{{ event.description|truncatechars:100 }}</td>
                    <td>{{ event.host }} </br>
                        {{ event.phone }} </br>
                        {{ event.email }}
                    </td>
                  </tr>
            </div>
            {% endfor %}
            </tbody>
            </table>
          </div>
        </section>
        <section class="page3">
          <div class="page_container">
            <h3>종료된 대회 | {{ count_past_events }}개</h3>
            <div class="tbl-header">
              <table cellpadding='0' cellspacing='0'>
                <thead>
                  <tr>
                    <th>일시</th>
                    <th>대회명</th>
                    <th>신청기간</th>
                    <th>레이스</th>
                    <th>장소</th>
                    <th>내용</th>
                    <th>주최</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="tbl-content">
              <table>
                <tbody>
                  {% for event in past_events %}
                  <tr>
                    <td>{{ event.date }}
                        <canvas class="{{ event.weather }} weather_icon" width="30" height="30"></canvas></br>
                        {{ event.temperature }}
                    <td>
                      <p class="city">{{ event.city }}</p>
                      <a href="{{ event.website }}" class="NewTab">{{ event.title }}</a>
                    </td>
                    <td>{{ event.application_period }}</td>
                    <td>{{ event.race }}</td>
                    <td><a href="{{ event.map_url }}" class="NewTab">
                        {{ event.location }}</a></td>
                    <td>{{ event.description|truncatechars:100 }}</td>
                    <td>{{ event.host }} </br>
                        {{ event.phone }} </br>
                        {{ event.email }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
      <div class="footer">
        <a href="http://www.marathon.pe.kr/schedule_index.html">
        <h4>마라톤 온라인</a>이 제공하는 2016년간 행사 데이터를 크롤링한 웹페이지 입니다. 파이썬 웹 프레임워크 <a href="https://www.djangoproject.com/">Django</a>로 만들었습니다.
        <a href="https://github.com/sujinleeme/official-website/tree/master/myrun"><i class="fa fa-github" aria-hidden="true"></i></a></br>
            <a href="http://www.sujinlee.me/"> Code & Design. SUJIN LEE</a>
        </h4>
      </div>
    </div>
  </div>

    <script>
     var icons = new Skycons({"color":"white"}),
    list = [
      "clear-day",
      "clear-night",
      "partly-cloudy-day",
      "partly-cloudy-night",
      "cloudy",
      "rain",
      "sleet",
      "snow",
      "wind",
      "fog"
     ],
    i;
for(i = list.length; i--; ) {
    var weatherType = list[i],
        elements = document.getElementsByClassName( weatherType );
    for (e = elements.length; e--;){
        icons.set( elements[e], weatherType );
    }
}

icons.play()
    </script>
    <!--google-analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-53782262-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
