body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    word-wrap: break-word;
    line-height: 1.6;
    color: #fff;
    background: -webkit-linear-gradient(left, #48BBDE, #F47EC6);
    background: linear-gradient(to right, #48BBDE, #F47EC6);
}
a {
    color: #fff;
}

.fb-like {
    padding-top: 1em;
    color: #fff;
}

#u_0_3 {
    color: #fff !important;
}

h1 {
    font-size: 3.4em;
    left: 0;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    margin-bottom: 15px;
}
h2 {
    font-size: 1.7em;
    font-weight: 400;
    text-align: left;
    margin-bottom: 15px;
}
h3 {
    font-size: 1.7em;
    font-weight: 100;
    text-align: left;
    margin-bottom: 15px;
}
h4 {
    font-size: 0.9em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    margin-bottom: 15px;
    z-index: 9;
}
p {
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    z-index: 0;
}
.tbl-header {
    background-color: rgba(255, 255, 255, 0.1);
}
.tbl-content {
    height: 65vh;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
table {
    width: 100%;
    table-layout: fixed;
    border-radius: 10px;
    overflow: scroll !important;
    z-index: -1;
}
th {
    padding: 0.8em 0.8em;
    text-align: left;
    font-weight: 600;
    font-size: 0.9em;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: -1;
}
td {
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: 0.85em;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
th {
    text-align: center;
}
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
    position: relative;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.footer {
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-weight: 200;
    width: 100%;
    z-index: 99;
    border-top: solid 1px rgba(255, 255, 255, 0.1);
    background: -webkit-linear-gradient(left, #48BBDE, #F47EC6);
    background: linear-gradient(to right, #48BBDE, #F47EC6);
}
.footer a {
  font-weight: 400;
  text-decoration: none;
}
.today {
    text-align: left;
    font-weight: 100;
    font-size: 1.3em;
}
.city {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 12px;
    position: relative;
    width: 2em;
    padding: 5px 8px;
    border-radius: 15px;
    font-weight: 400;
    margin-top: -2em;
}

::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 16px rgba(255, 255, 255, 0.4);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 16px rgba(255, 255, 255, 0.4);
}
.main_image {
    opacity: 0.18;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 53%;
    z-index: 0;
}
.weather_icons {
    fill: #fff;
    width: 4rem;
    height: 4rem;
    display: block;
    margin: auto auto -0.5rem auto;
}
/*
title: Animated Mouse-scroll Down Button
author: Sven
available at : http://codepen.io/svenschebaum/pen/IlABK
*/
@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
 .scroll-btn {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
  top: 200%;
	text-align: center;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 33px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  opacity: 0.5;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 80%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}

@media only screen and (max-width: 1440px) {
  .tbl-content {
    height: 70vh;
  }
}
