/* common styling */
$theme-col: #1f00ff;
$accent-col: #ff00db;
$bg-col: #fff;
$black: #232528;
$black-code: #282a36;
$dark-light-gray: #656c7a;
$light-gray: rgba(0,0,0,.05);
$light-gray-hover: rgba(0,0,0,0.1);

/* form style */
$form-border1: 1px $theme-col solid;
$form-border2: 1px $light-gray solid;
$page_margin: 7vh;
$snb_left_width_home: 0vw;
$main_width_home: 100vw - $snb_left_width_home;


$line_height: 40px;

#snb_left_box {
  width: $snb_left_width_home !important;
  display: none;
}

main {
  overflow-y: auto;
  width: $main_width_home !important;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: $dark-light-gray;
  text-transform: uppercase;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: $light-gray;
}

.form_wrap {
  margin: $page_margin;
  width: 1000px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: transparent;
}
// input::-moz-placeholder, textarea::-moz-placeholder {
//   color: #aca49c;
//   font-size: 0.875em;
// }

// input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
//   color: $theme-col;
// }

// input::placeholder, textarea::placeholder {
//   color: $dark-light-gray;
  
//   font-size: 0.9rem;
// }

// input:focus::placeholder, textarea::focus:placeholder {
//   color: $black;
// }

// input::-ms-placeholder, textarea::-ms-placeholder {
//   color: #aca49c;
//   font-size: 0.9rem;
// }

// input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
//   color: #bbb5af;
// }

/* on hover placeholder */

// input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
//   color: #e2dedb;
//   font-size: 0.875em;
// }

// input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
//   color: #cbc6c1;
// }

// input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
//   color: $black;
//   font-size: 0.875em;
// }

// input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
//   color: #cbc6c1;
// }

// input:hover::placeholder, textarea:hover::placeholder {
//   color: #e2dedb;
//   font-size: 0.875em;
// }

// input:hover:focus::placeholder, textarea:hover:focus::placeholder {
//   color: #cbc6c1;
// }

// input:hover::placeholder, textarea:hover::placeholder {
//   color: #e2dedb;
//   font-size: 0.875em;
// }

// input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
//   color: #cbc6c1;
// }

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-size: 1.3rem;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: $black;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
}

input#id_tag {
    color: $theme-col;
}

textarea {
  width: 100%;
  padding: 15px;
  font-size: 1.3rem;
  line-height: 1.5rem;
  background: transparent;
  outline: none;
  font-weight: 300;
  color: $dark-light-gray;;
  font-size: 1.3rem;
  transition: all 0.3s ease-in-out;
}

// textarea:hover {
//   background: $light-gray;
//   color: $black;
// }

.form-btn {
  width: 20rem;
  text-transform: uppercase;
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
  padding: 0;
  font-size: 1.3rem;
  color: $theme-col;
  outline:none;
  text-align: center;
  cursor: pointer;
  border: solid 1px $light-gray;
  border-radius: 6px;
}

#submit:hover {
  opacity: 1;
}


  input, textarea {
    width: 100%;
    border: 0;
    background-color: rgba(#fff, 0.5);

    // &:focus {
    //   font-size: 1rem;
    //   color: $black;
    //   background-color: #fff;
    //   // border-bottom: $form-border1;
    // }

  }
#id_title {
  font-size: 2rem;
  font-weight: 600;
}

input#id_image {
    font-size: 1rem;

    margin-top: 12px;
    display: inline-flex;
}

.select-box {
  display: inline-flex;
}

.label-desc {
  font-size: 1.4rem;
  vertical-align: text-bottom;
  line-height: $line_height;
  padding: 0 1rem 0 0;
}

input[type='file']{
  line-height: $line_height;
  border: none;
  border: 0;
    color: inherit;
}

select {
  background: #fff;
  width: 50%;
  padding: 5px 0;
  height: $line_height;
  font-size: 1rem;
  border: none;
  &:after {
    padding: 30px;
  }
}

select:focus {
    outline: none;
}


option {
  width: 100%;
}

// .blog-form {
//   padding: 0 3rem 3rem 0;
//   .field {
//     padding: 1rem;
//   } 
//   input, textarea {
//     width: 100%;
//     border: 0;
//     background-color: rgba(#fff, 0.5);
//     border-bottom: $form-border2;
//     font-size: 1rem;
//     padding: 0.4rem;
//     &:focus {
//       font-size: 1rem;
//       outline: 0;
//       color: $black;
//       background-color: #fff;
//       border-bottom: $form-border1;
//     }
//   }
// }


// .blog-form input#id_image{
//   border-bottom:1px #fff solid;
// } 
//   // &_button {
//   //   margin: 2rem 0 3rem 0;
//   //   float: right;
//   //   width: 10rem;
//   //   // @extend .button;
//   //   font-size: 0.8rem;
//   //   padding: 0.4rem;
//   //   color: $dark-light-gray;
//   //   &:hover,
//   //   &:focus{
//   //     color: #fff;
//   //   }
//   //}


// .form_view{
//   background: $dark-light-gray;
//   width: 50vw;
//   height: 50vh;
//   border: 1px;
// }