/* common styling */
$page_margin: 3%;
$snb_left_width_home: 30vw;
$main_width_home: 100vw - $snb_left_width_home;
#snb_left_box {
  width: $snb_left_width_home !important;
}

main {
  overflow-y: auto;
 width: $main_width_home !important;
}