@charset "utf-8";

/*
UPDATE : 2017.02.
AUTHOR : SUJIN LEE (sujinlee.me@gmail.com)
*/

/* === Common Style === */
/* main color */
$theme-col: #1f00ff;
$accent-col: #ff00db;
$bg-col: #fff;
$black: #232528;
$black-code: #282a36;
$dark-gray: #656c7a;
$light-gray: rgba(0,0,0,.05);
$light-gray-hover: rgba(0,0,0,0.1);

/* --- layout --- */
$page_margin_reset: 0%;
$page_margin: 7vh;
$mobile_page_margin: 3.5vh;
/* left navigation */
$snb_left_width: 25vw;

/* right section */
$main_width: 100vw - $snb_left_width;

body {
    background: $bg-col;
    overflow: hidden;
    vertical-align: middle;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    margin: 0;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.0);
	border-radius: 10px;
	background-color: #fff;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #fff;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.0);
	background-color: #fff;
}


#wrap {
    padding: $page_margin_reset;
    min-height: 100vh;
}
section {
    margin-bottom: $page_margin;
}
main {
    overflow-y: auto;
    height: 100vh;
    overflow-x: hidden;
    width: $main_width;
    transition: all 2s;
}

#container {
    display: flex;
    min-height: 100vh;
    transition: transform 2s;
}

._expand-main{
    transform: translateX(-($snb_left_width/2));
}

._expand-nav {
    transform: translateX(-25vw);
}

#snb_left_box {
    background: $theme-col;
    width: $snb_left_width;
    transition: transform 2s;
    overflow: hidden;
    ul, ol {
        list-style: none;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media screen 
and (min-width : 320px) 
and (max-width : 480px) {


html {
      -webkit-overflow-scrolling: touch;

}
#snb_left_box {
    width: 0;
}
main {
    width: 100vw;
}
#main_content {
    padding: $mobile_page_margin 0 !important;
    position: relative;
    margin: 0 !important;
}
#main_box {
    padding: $mobile_page_margin !important;
}
}


#main_box {
    padding: $page_margin;
    transition: transform 2s; 
}
#main_content {
    padding: $page_margin;
    margin: 0 2rem;
}
#main_lst {
    margin: 0 2rem;
}
article, .disqus {
    padding-top: $page_margin;
    padding-bottom: 0;
    padding-left: $page_margin;
    padding-right: $page_margin;
    margin: 0 2rem;
}

.snb_left {
    padding: $page_margin;
    background: $theme-col;
    color: #fff;
    transition: width 2s;
    h1 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
   
    ul, ol, h1, a {
        padding: 0;
        color: #fff;
    }
    h1 {
        margin: 0;
    }
    ul:nth-child(-n+2) {
        .title {
            margin-top: 4vh;
            font-weight: 600;
        }
    } 
    
    li {
        margin-top: 2vh;
        font-weight: 400;
    }
}

/*------------- base.html ------------------*/
.contact {
        bottom: $page_margin;
        position: absolute;
}

.ico_soical {
    display: flex;
    font-size: 0.9rem;
    ul {
        display: inline-flex;
    }
    li {
        margin-right: 1.5rem;
    }
    a {
        color: #fff;
    }
}

.home {
    &_img {
    position: absolute;
    top: 50%;
    left: 34%;
    width: 29vw;
    height: 75vh;
    transform: translate(-30%, -50%);
    img {
        max-height: 100%;
        width: 100%;
        height: 100%;
    }
    @extend .shadow;
    }

    &_title{
        position: absolute;
        top: 50%;
        right: 8%;
        width: 35%;
        transform: translate(10%, -50%);
    }
}

.straight_line {
    position: absolute;
    top: 46%;
    right: 42%;
    width: 5vw;
    border-bottom: 4px solid $theme-col;
}

/*--------------------------------------------*/
button {
    cursor: pointer;
}
mark {
    background: transparent;
    color: $theme-col;
}
/* animation on external link */
a, li {
    transition: opacity 0.5s ease-in-out;
}
.shadow {
    transition: 1s all;
    box-shadow: 1rem 1rem 7.5rem 0 rgba(0, 0, 0, 0.48);
}
.hover {
    transition: opacity 0.5s all;
}
button:hover,
.btn_share li:hover {
    color: $dark-gray;
}

.gnb a:hover,
.snb_left a:hover {
    opacity: 0.5;
    color: #fff;
}

/* image */
img {
    image-rendering: pixelated;
    object-fit: cover;
}
/* margin class */
.u_centr_pg_v1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.u_centr_pg_v2 {
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* button */
.ico_menu {
    position: fixed;
    cursor: pointer;
    z-index: 4;
    right: 7vh; //$page_margin
    top: 7vh;
    width: 2rem;
    height: 2rem;
    display:  inline-block;
}

.ico_menu span {
	margin: 0 auto;
	position: relative;
	top: 10px;
    transition-duration: 0s;
    transition-delay: 0.2s;

}
.ico_menu span:before, .ico_menu span:after {
	position: absolute;
	content: '';
}
.ico_menu span, .ico_menu span:before, .ico_menu span:after {
	width: 30px;
	height: 4px;
	background-color: $black;
	display: block;
}
.ico_menu span:before {
	margin-top: -10px;
    @extend .animation_ico_menu;
}
.ico_menu span:after {
	margin-top: 10px;
    @extend .animation_ico_menu;
}

._active span {
	background-color: rgba(0,0,0,0.0);
	transition-delay: 0.2s;
}

._active span:before {
	margin-top: 0;
	transform: rotate(45deg);
	transition-delay: 0s, 0.2s;
    background: #fff;
    opacity: 0.8;
}
.animation_ico_menu {
	transition-property: margin, transform;
	transition-duration: 0.2s;
	// transition-delay: 0.2s, 0s;
}
._active span:after {
	margin-top: 0;
	transform: rotate(-45deg);
	transition-delay: 0s, 0.2s;
    background: #fff;
    opacity: 0.8;
}

/* button style */
button, .btn_share li {
    transition: color 0.5s ease-in-out;
}
.btn_back {
    margin-right: 1vh;
}
.btn_back, .btn_expand, .ico_menu, .btn_gototop {
    font-size: 3.2rem;
    line-height: 2rem;
}

.btn_blog {
    font-size: 2.5rem;
}

.btn_expand, .btn_gototop {
    position: fixed;
    cursor: pointer;
    &:hover{
        color: $black;
    }
}

.btn_expand {
    color: $light-gray-hover;
    top: 50%;
    margin-left: -1vh;
}

.btn_gototop {
    bottom: $page_margin;
    transition: opacity 1s; 
    opacity: 0;
    right: $page_margin;
    z-index: 1;
}

._fadeIn{
    opacity:1;
}


/* navigation menu effect */
.gnb {
    transition: transform 2s;
    transform: translateX(105%);
    z-index: 1;
    padding: 6%;
    position: fixed;
    margin-top: 7vh;
    right: 0;
    background-color: $theme-col;
    width: 30vw;
    display: table;
    margin: 0 auto;
    @extend .shadow;
    ul {
        width: 100%;
        padding: 0;
        margin: auto;
        list-style: none;
        @extend .u_centr_pg_v1;
    }
    li {
        padding: 2%;
        display: inline-flex;
    }
    a {
        color: #fff;
        font-size: 1.2rem;
        display: block;
        font-weight: 600;
    }
}
._show {
    transform: translateX(0%);
}

/* Smartphones (portrait and landscape) ----------- */
@media screen 
and (min-width : 320px) 
and (max-width : 480px) {
.ico_menu {
    right: $mobile_page_margin;
    top: $mobile_page_margin;
}
.gnb {
    width: 100%;
    height: 20vh;
    opacity: 0.9;
    padding: 0;
    ul {
            width: 100%;
    
    margin-top: 5vh;
    }
    li {
        // display: block;
    }
    a {
        font-size: 1.3rem;
    }
}
}


/* disqus */
.disqus {
    position: relative;
    a {
        color: $theme-col;
    }
}

/* share */
.share_container,
footer {
    ul, li {
        display: inline-flex;
        padding-bottom: 0;
    }
  
    ul:nth-child(2) {
        float: right;
        li {
            padding-left: 1rem;
        }
    }
    li,
    a,
    span {
        list-style: none;
        color: $dark-gray;
        text-decoration: none;
        font-size: 0.9rem;
    }
    a,
    span {
        padding-right: 0.4rem;
    }
    .icon-heart,
    .icon-bubble,
    .icon-social-twitter,
    .icon-social-google,
    .icon-social-facebook {
        font-size: 1.4rem !important;
        vertical-align: top;
    }
}
.btn_like {
    display: inline-block;
}
span.show_like.icon-heart {
    color: $accent-col;
    vertical-align: top;
}
span.show_unlike.icon-heart {
    color: $theme-col;
    vertical-align: top;
}
.share_container {
    border-bottom: 1px solid $light-gray;
    padding-bottom: $page_margin / 3;
}
.share_container .icon-heart,
.icon-social-facebook,
.icon-social-google,
.icon-social-twitter {
    cursor: pointer;
}
.tag_box {
    margin: $page_margin / 2 0;
}
.tag {
    padding: 0.5% 1%;
    width: auto;
    border-radius: 4px;
    background: $light-gray;
    color: $dark-gray;
    font-size: 0.9rem;
    font-weight: 400;
    transition: background 0.5s ease-in-out;
}
.tag:hover {
    background: $light-gray-hover;
}
.date {
    color: $dark-gray;
}

/* blog & project card list */
.project_ele:hover,
.blog_ele:hover {
    @extend .shadow;
}
.project_ele {
    transition: all .5s ease;
    width: 50%;
    max-height: 45vh;
    min-height: 200px;
    padding-bottom: $page_margin * 2;
    cursor: pointer;
}
.project_ele a,
#lst_wrap_blog a {
    color: $black;
}
.project_ele img {
    width: 100%;
    height: 60%;
}
.project_ele header {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: $page_margin - 2vh;
    margin-bottom: $page_margin - 2vh;
    margin-left: $page_margin;
    margin-right: $page_margin;
    opacity: 1;
    height: 40%;
    .detail {
        width: 100%;
    }
    h2 {
        width: 85%;
    }
    .btn_read {
        width: 15%;
        float: right;
    }
}
.project_ele header,
.blog_ele header {
    position: relative;
    span {
        font-size: 0.7rem;
        font-weight: 400;
    }
    h3 {
        font-size: 1rem;
        font-weight: 400;
    }
    h2 {
        line-height: 3.6vh;
        bottom: 0;
    }
}
.blog_ele header {
    h2, h3 {
        width: 80%;
        margin-top: 0;
    }
}
.blog_ele footer {
    position: absolute;
    bottom: 0;
    .icon-heart {
        color: $theme-col;
        vertical-align: middle;
    }
}
.project_ele .detail {
    position: absolute;
    bottom: 0;
    display: flex;
}
@media screen 
and (min-width : 320px) 
and (max-width : 480px) {
.project_ele {
    width: 100%;
    padding-bottom: 7vh;
    max-height: 50vh;
    
    header {
        margin: $mobile_page_margin;
        min-height: 30% !important;
    }
    .detail {
        position: relative;
    }
    }
    picture {
        height: 40%;
    }
    header {
        height: 60%;
    }
}


/* blog */
#lst_project_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    ul {
        line-height: 0 !important;
    }
}
#lst_blog_wrap {
    width: 100%;
    ul {
        line-height: 0 !important;
    }
    li {
        display: flex;
    }
}
.blog_ele {
    transition: all .5s ease;
    min-height: 10vh;
    padding: $page_margin;
    display: flex;
    cursor: pointer;
}
.blog_ele header {
    width: 70%;
}
.blog_ele picture {
    width: 30%;
    float: right;
}
.blog_ele img {
    width: 100%;
    height: 100%;
}
.blog_ele .detail {
    margin-top: $page_margin / 3;
    display: flex;
    width: 100%;
    .btn_read {
        width: 10%;
    }
}
button .material-icons {
    font-size: 2rem;
    margin: auto;
}
#pagination {
    display: inline-flex;
    width: 100%;
    a {
        display: block;
    }
}
.pagination_col {
    vertical-align: center;
    padding: $page_margin 0;
    width: 50%;
    cursor: pointer;
    a {
        display: block;
    }
    a:active {
        color: $accent-col;
    }
    a:visited {
        color: $black;
    }
    &:hover {
        @extend .shadow;
    }
}
.previous_page,
.next_page {
    display: inline-flex;
    vertical-align: bottom;
}
.next_page {
    float: right;
    padding-left: 2vh;
}
article {
    position: relative;
    img {
        width: 100%;
        height: 60vh;
    }
}
.post_title {
    margin: $page_margin 0;
}
// blog post detail
#post_wrap_v1 {
    padding-top: $page_margin;
    position: relative;
}
// plain post wrap
#post_wrap_v2 {
    padding-top: 0 !important;
}
.post_title .date {
    margin: $page_margin/2 0;
    float: right;
    font-size: 0.9rem;
}

.error_msg {
    margin-top: 25vh;
    text-align: center;
    h1 {
        font-size: 3rem;
        color: $dark-gray;
    }
}


@media screen 
and (min-width : 320px) 
and (max-width : 480px) {
#main_lst {
    margin: 0 !important;
}
.blog_ele {
    padding: 3vh 0;
    max-height: 24vh;
    .btn_read {
        display: none;
    }
    header {
        width: 65%;
        h2, h3 {
            width: 90%;
        }
    }
    picture {
        width: 35%;
        height: 24vh;
    }
    img {
        height: 100%;
        width: 100%;
    }
}

.blog_ele {
    footer {
        position: relative;
        padding: $mobile_page_margin / 2 0;
        // transform: translateY(7.5vh);
    }
}
}

@media screen 
and (min-width : 320px) 
and (max-width : 480px) {

.btn_back {
    margin-left: -1vh;
}
.btn_expand {
    display: none;
}
article {
    img {
        width: 100%;
        height: 30vh;
    }
}
article {
    padding-top: 1vh;
}
article, .disqus {
     padding-left: 0;
     padding-right: 0;
     margin: 0;
}


#pagination {
    h2 {
        font-size: 1.2em;
    }
}

.post_title {
    margin: $mobile_page_margin 0;
}
 .snb_left {
        display: none;

    }
.disqus {
    padding: 0;
}
.pagination_col {
    padding: $mobile_page_margin 0;
}
.btn_gototop {
    bottom: $mobile_page_margin - 1vh;
    right: $mobile_page_margin - 1vh;
}
.next_page {
    padding: 0;
}

}