/*
UPDATE : 2017.02.
AUTHOR : SUJIN LEE (sujinlee.me@gmail.com)
*/
/* === Common Style === */
/* main color */
/* --- layout --- */
/* left navigation */
/* right section */
body {
  background: #fff;
  overflow: hidden;
  vertical-align: middle;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  margin: 0; }

#wrap {
  padding: 0%;
  min-height: 100vh; }

section {
  margin-bottom: 7vh; }

main {
  overflow-y: auto;
  height: 100vh;
  overflow-x: hidden;
  width: 75vw; }

#container {
  display: flex;
  min-height: 100vh; }

#snb_left_box {
  background: #4B21FF;
  width: 25vw;
  overflow: hidden; }
  #snb_left_box ul, #snb_left_box ol {
    list-style: none; }

#main_box {
  padding: 7vh; }

#main_content {
  padding: 7vh; }

article {
  margin-top: 7vh;
  margin-bottom: 0;
  margin-left: 7vh;
  margin-right: 7vh; }

/* ==== STYLE ==== */
.snb_left {
  padding: 7vh;
  background: #4B21FF;
  color: #fff;
  transition: width 2s; }
  .snb_left h1 {
    font-size: 1.5rem;
    line-height: 1.5rem; }
  .snb_left ul {
    bottom: 7vh;
    position: absolute;
    padding: 7vh; }
  .snb_left ul,
  .snb_left ol,
  .snb_left h1,
  .snb_left a {
    padding: 0;
    color: #fff; }
  .snb_left h1 {
    margin: 0; }
  .snb_left ol {
    margin-top: 4vh;
    font-weight: 600; }
  .snb_left li {
    margin-top: 2vh;
    font-weight: 400; }

.ico_soical {
  display: flex;
  font-size: 0.9rem; }
  .ico_soical ul {
    display: inline-flex; }
  .ico_soical li {
    margin-right: 1.5rem; }
  .ico_soical a {
    color: #fff; }

.home_img {
  position: absolute;
  top: 50%;
  left: 34%;
  width: 29vw;
  height: 75vh;
  transform: translate(-30%, -50%); }
  .home_img img {
    width: 30vw;
    max-height: 100%; }

.home_img img {
  width: 100%;
  height: 100%; }

.home_title {
  position: absolute;
  top: 50%;
  right: 8%;
  width: 35%;
  transform: translate(10%, -50%); }

.straight_line {
  position: absolute;
  top: 46%;
  right: 42%;
  width: 5vw;
  border-bottom: 4px solid #4B21FF; }

button {
  cursor: pointer; }

mark {
  background: transparent;
  color: #4B21FF; }

/* animation on external link */
a,
li {
  transition: opacity 0.5s ease-in-out; }

.shadow, .home_img, .gnb, .project_ele:hover,
.blog_ele:hover, .pagination_col:hover {
  transition: 1s all;
  box-shadow: 1rem 1rem 7.5rem 0 rgba(0, 0, 0, 0.48); }

.hover {
  transition: opacity 0.5s all; }

button:hover,
.btn_share li:hover {
  color: #4B21FF; }

button,
.btn_share li {
  transition: color 0.5s ease-in-out; }

.gnb a:hover,
.snb_left a:hover {
  opacity: 0.5;
  color: #fff; }

/* image */
img {
  image-rendering: pixelated;
  object-fit: cover; }

/* common class */
.u_centr_pg_v1, .gnb ul {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.u_centr_pg_v2 {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.ico_menu {
  width: 2rem;
  position: fixed;
  cursor: pointer;
  z-index: 4;
  right: 7vh;
  top: 7vh; }

.line_1,
.line_2,
.line_3 {
  width: 100%;
  height: 4px;
  background: #232528;
  margin-bottom: 0.4rem;
  backface-visibility: hidden;
  transition-duration: 0.1s;
  padding: 0; }

._active .line_1 {
  background: #fff;
  transform: rotate(45deg) translate(5px, 5px); }

._active .line_2 {
  opacity: 0;
  transition-duration: 0s; }

._active .line_3 {
  background: #fff;
  transform: rotate(-45deg) translate(9px, -9px); }

f .btn_blog {
  margin-right: 1vh; }

.btn_blog,
.ico_menu {
  font-size: 3.2rem;
  line-height: 2rem;
  margin: -0.3vh; }

/* navigation menu effect */
.gnb {
  transition: transform 2s;
  transform: translateX(105%);
  z-index: 1;
  padding: 6%;
  position: fixed;
  margin-top: 7vh;
  right: 0;
  background-color: #4B21FF;
  width: 30vw;
  display: table;
  margin: 0 auto; }
  .gnb ul {
    width: 100%;
    padding: 0;
    margin: auto;
    list-style: none; }
  .gnb li {
    padding: 2%;
    display: inline-flex; }
  .gnb a {
    color: #fff;
    font-size: 1.2rem;
    display: block;
    font-weight: 600; }

._show {
  transform: translateX(0%); }

/* disqus */
.disqus {
  margin: 7vh; }
  .disqus a {
    color: #4B21FF; }

.share_container ul, .share_container li,
footer ul,
footer li {
  display: inline-flex;
  padding-bottom: 0; }

.share_container ul:nth-child(1) li,
footer ul:nth-child(1) li {
  width: 3.0rem; }

.share_container ul:nth-child(2),
footer ul:nth-child(2) {
  float: right; }
  .share_container ul:nth-child(2) li,
  footer ul:nth-child(2) li {
    padding-left: 1rem; }

.share_container li,
.share_container a,
.share_container span,
footer li,
footer a,
footer span {
  list-style: none;
  color: #656c7a;
  text-decoration: none;
  font-size: 0.9rem; }

.share_container a,
.share_container span,
footer a,
footer span {
  padding-left: 0.4rem; }

.share_container .icon-heart,
.share_container .icon-bubble,
.share_container .icon-social-twitter,
.share_container .icon-social-google,
.share_container .icon-social-facebook,
footer .icon-heart,
footer .icon-bubble,
footer .icon-social-twitter,
footer .icon-social-google,
footer .icon-social-facebook {
  font-size: 1.4rem !important;
  vertical-align: top; }

.btn_like {
  display: inline-block; }

span.show_like.icon-heart {
  color: #E73E85;
  vertical-align: top; }

span.show_unlike.icon-heart {
  color: #4B21FF;
  vertical-align: top; }

.share_container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 2.33333vh; }

.share_container .icon-heart,
.icon-social-facebook,
.icon-social-google,
.icon-social-twitter {
  cursor: pointer; }

.tag_box {
  margin: 3.5vh 0; }

.tag {
  padding: 0.5% 1%;
  width: auto;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.05);
  color: #656c7a;
  font-size: 0.9rem;
  font-weight: 400;
  transition: background 0.5s ease-in-out; }

.tag:hover {
  background: rgba(0, 0, 0, 0.1); }

.date {
  color: #656c7a; }

/* project */
.project_ele {
  transition: all .5s ease;
  width: 50%;
  max-height: 45vh;
  min-height: 200px;
  padding-bottom: 14vh;
  cursor: pointer; }

.project_ele a,
#lst_wrap_blog a {
  color: #232528; }

.project_ele img {
  width: 100%;
  height: 60%; }

.project_ele header {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 7vh;
  margin-right: 7vh;
  opacity: 1;
  height: 40%; }
  .project_ele header .btn_read {
    margin-left: 7vh; }

.project_ele header,
.blog_ele header {
  position: relative; }
  .project_ele header span,
  .blog_ele header span {
    font-size: 0.7rem;
    font-weight: 400; }
  .project_ele header h3,
  .blog_ele header h3 {
    font-size: 1rem;
    font-weight: 400; }
  .project_ele header h2,
  .blog_ele header h2 {
    line-height: 3.6vh;
    bottom: 0; }

.blog_ele header h2, .blog_ele header h3 {
  width: 90%;
  margin-top: 0; }

.blog_ele footer {
  position: absolute;
  bottom: 0; }
  .blog_ele footer .icon-heart {
    color: #4B21FF;
    vertical-align: middle; }

.project_ele .detail {
  position: absolute;
  bottom: 0;
  display: flex; }

/* blog */
#lst_project_wrap {
  width: 100%;
  display: flex; }
  #lst_project_wrap ul {
    line-height: 0 !important; }

#lst_blog_wrap {
  width: 100%; }
  #lst_blog_wrap ul {
    line-height: 0 !important; }
  #lst_blog_wrap li {
    display: flex; }

.blog_ele {
  transition: all .5s ease;
  min-height: 10vh;
  padding: 7vh;
  display: flex;
  cursor: pointer; }

.blog_ele header {
  width: 70%; }

.blog_ele picture {
  width: 30%;
  float: right; }

.blog_ele img {
  width: 100%;
  height: 100%; }

.blog_ele .detail {
  margin-top: 2.33333vh;
  display: flex;
  width: 100%; }
  .blog_ele .detail .btn_read {
    width: 10%; }

button .material-icons {
  font-size: 2rem;
  margin: auto; }

#pagination {
  display: inline-flex;
  width: 100%; }
  #pagination a {
    display: block; }

.pagination_col {
  vertical-align: center;
  padding: 7vh 0;
  width: 50%;
  cursor: pointer; }
  .pagination_col a {
    display: block; }
  .pagination_col a:active {
    color: #E73E85; }
  .pagination_col a:visited {
    color: #232528; }

.previous_page,
.next_page {
  display: inline-flex;
  vertical-align: bottom; }

.next_page {
  float: right; }

article {
  position: relative; }
  article img {
    width: 100%;
    height: 60vh; }

.post_title {
  margin: 7vh 0; }

#post_wrap_v1 {
  padding-top: 7vh;
  position: relative; }

#post_wrap_v2 {
  padding-top: 0 !important; }

.post_title .date {
  margin: 3.5vh 0;
  float: right;
  font-size: 0.9rem; }

.form_wrap {
  width: 100%;
  display: flex; }
  .form_wrap form {
    width: 50%; }
  .form_wrap button {
    color: #4B21FF;
    font-size: 1.3rem; }

.form_view {
  width: 50%;
  background: #232528; }
