{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block title %}
<title>Not Found - Sujin Lee</title>
{% endblock %}

{% block ogtags %}
<meta property="og:type"   content="website" /> 
<meta property="og:title" content="About - Sujin Lee" />
<meta property="og:description" content="Creative Developer" />
<meta property="og:image" content="http://www.sujinlee.me/image/background/profile-about.png" />
<meta property="og:url" content="http://www.sujinlee.me/about/" />

{% endblock %}
{% block content %}
<header class="page_title">
  <h1>Not Found</h1>
</header>

<div id="main_content">
  <div id="post_wrap_v2" class="error_msg">
    <h1>໒( •́ ‸ •̀ )໒</h1>
    <p>Unfortunately, this page doesn't exist.</p>
  </div>
</div>
{% endblock content %}